@model IEnumerable<DROD.Models.Items>

@{ ViewData["Title"] = "Index"; }

<!-- Style -->
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="color:white;">
    <h1 class="text-center text-uppercase display-4">DROD</h1>
    <hr />
    <form asp-action="Search" method="get">
        <div class="form-row align-items-center justify-content-center">
            <div class="col-auto">
                <div class="input-group mb-2">
                    Find your Item:
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-2" name="manufacturer">
                    @Html.DropDownList("gender", new SelectList(Enum.GetValues(typeof(ItemType))),
                   "All", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">&#8362;</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" name="price" placeholder="Max Price">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>
    <hr />

    <div class="col-lg-12">

        <div class="row">
            @if (User.IsInRole("Admin"))
            {
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100 justify-content-center">
        <a class="btn" asp-action="Create">
            <svg width="20em" height="20em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
    </div>
</div>}
            @foreach (var item in Model)
            {
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a asp-action="Details" asp-route-id="@item.ID"><img class="card-img-top" src="@Url.Content(item.Path)" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.ItemName)</a>
            </h4>
        </div>
        <div class="card-footer">
            <div class="AddToCart row">
                <a class="btn btn-outline-info col-auto mr-auto" id="detailsButton" asp-action="Details" asp-route-Id="@item.ID">
                    Details
                </a>
                <a class="btn btn-success AddToCart col-auto" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@item.ID">
                    Add to cart
                </a>
            </div>
        </div>
    </div>
</div>}
        </div>
    </div>
</div>
<p style="margin-top:250px"></p>